@use '@/styles/variables' as *;

.detailSectionHeader {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  width: 100%;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid $border-base;

  @include tablet {
    padding-bottom: 1rem;
  }

  .label {
    font-size: 0.7rem;
    color: $text-invers-secondary-on-bg-secondary;
    letter-spacing: 1px;

    @include tablet {
      font-size: 0.9rem;
    }
  }

  .title {
    font-size: 1rem;
    font-weight: 500;

    @include tablet {
      font-size: 1.2rem;
    }
  }
}