@use '@/styles/variables' as *;

.detailPageContainer {
  min-height: calc(100dvh - #{$header-height-mobile});

  .section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 2rem $screen-padding-mobile;

    @include tablet {
      gap: 2rem;
      padding: 3rem $screen-padding-tablet;
    }

    @include desktop {
      gap: 3rem;
      max-width: $max-width;
      margin: 0 auto;
      padding: 3rem $screen-padding-desktop;
    }

    .body {
      width: 100%;
      
      .infoList {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.8rem;

        @include tablet {
          gap: 2rem;
        }

        .item {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 0.5rem;
          font-size: 0.9rem;

          @include tablet {
            gap: 1rem;
            font-size: 1rem;
          }

          .itemLabel {
            display: flex;
            align-items: center;

            .icon {
              position: relative;
              top: 1px;
              margin-right: 0.3rem;
            }
          }

          .text {
            color: $text-invers-thirdly-on-bg-secondary;
            word-break: break-all;
          }
        }
      }
    }
  }
}