@use '@/styles/variables' as *;

.navbar {
  position: absolute;
  z-index: $navbar-zindex;
  top: $header-height-mobile;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: $bg-secondary;
  transition: transform 0.3s ease-in-out;

  @include tablet {
    top: $header-height-tablet;
    height: 6rem;
  }

  @include desktop {
    top: $header-height-desktop;
  }

  &.open {
    border-bottom: none;
    transform: translateY(0); 
  }

  &.close {
    transform: translateY(calc(-100% - 1px));
  }

  .inner {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    margin: 0 auto;
    color: $text-inverse;

    @include tablet {
      width: 25rem;
    }

    @include desktop {
      width: 25rem;
      margin: 0 auto;
    }

    .link {
      font-size: 0.9rem;
      
      @include tablet {
        font-size: 1rem;
        cursor: pointer;

        &:hover {
          color: $text-active;
          text-decoration: underline;
          text-underline-offset: 10px;
        }
      }

      @include desktop {
        font-size: 1.1rem;
      }
    }
  }
}