@use '@/styles/variables' as *;

.slider {
  overflow-x: auto;
  position: relative;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include tablet {
    overflow-x: visible;
  }

  @include desktop {
    max-width: $max-width;
    margin: 0 auto;
  }

  .track {
    display: flex;
    gap: 1rem;
    padding: 0 $screen-padding-mobile;
    transition: transform 0.3s ease-in-out;

    @include tablet {
      padding: 0 $screen-padding-tablet;
    }

    @include desktop {
      padding: 0 $screen-padding-desktop;
    }

    .item {
      flex-shrink: 0;
      width: 15rem;

      @include tablet {
        width: 18rem;
      }
    }
  }
}